pdfplumber
spacy
pyttsx3
streamlit
pytube
numpy
decorator
imageio
imageio-ffmpeg
proglog
tqdm
requests
pillow
psutil
pandas
transformers
torch
torchaudio
scipy
librosa
soundfile 
