pdfplumber
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
pyttsx3
streamlit
pytube
numpy
pandas
psutil
setuptools>=65.5.1
wheel>=0.38.0
pip>=23.0.1
decorator
imageio
imageio-ffmpeg
proglog
tqdm
requests
pillow
transformers
torch
torchaudio
scipy
librosa
soundfile
PyAudio
